{% include base_path %}

<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <img src="{{ post.image }}" width="250" style="margin-right: 20px;">
    <div>
      <h3 style="font-weight: bold; margin: 1px; font-size: 1.2em; margin-bottom: 3px;">{{ post.title }}</h3>
      <p style="margin: 1px">&nbsp;&nbsp;{{ post.authors }}</p>
      <p style="font-style: italic; margin: 1px">&nbsp;&nbsp;{{ post.venue }}, {{ post.year }}</p>
        <!-- citation and icon code -->
        <p style="margin: 1px">&nbsp;&nbsp;
            {% if post.link %}
                <a href="{{ post.link }}"><i class="fas fa-fw fa-link zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.arxiv %}
                <a href="{{ post.arxiv }}"><i class="fas fa-fw fa-file-pdf zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.github %}
                <a href="{{ post.github }}"><i class="fab fa-fw fa-github zoom" aria-hidden="true"></i></a>
            {% endif %}
            {% if post.video %}
                <a href="{{ post.video }}"><i class="fab fa-youtube" aria-hidden="true"></i></a>
            {% endif %}
        </p>
    </div>
</div>
